files:
  /var/app/staging/.env:
    source: https://n2n2-keys.s3.amazonaws.com/n2n2-tribes/.env
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: n2n2-keys