files:
  /tmp/nginx-plus-23-1.amzn2.ngx.x86_64.rpm:
    source: https://n2n2-keys.s3.amazonaws.com/nginx/nginx-plus-23-1.amzn2.ngx.x86_64.rpm
 
  /tmp/nginx-plus-23-1.amzn2.ngx.x86_64.rpm.md5:
    source: https://n2n2-keys.s3.amazonaws.com/nginx/nginx-plus-23-1.amzn2.ngx.x86_64.rpm.md5

  /tmp/nginx-plus-module-njs-23-0.4.4-2.amzn2.ngx.x86_64.rpm:
    source: https://n2n2-keys.s3.amazonaws.com/nginx/nginx-plus-module-njs-23-0.4.4-2.amzn2.ngx.x86_64.rpm
      
  /tmp/nginx-plus-module-njs-23-0.4.4-2.amzn2.ngx.x86_64.rpm.md5:
    source: https://n2n2-keys.s3.amazonaws.com/nginx/nginx-plus-module-njs-23-0.4.4-2.amzn2.ngx.x86_64.rpm.md5
  
  /tmp/nginx-plus-module-njs-23-0.5.0-1.amzn2.ngx.x86_64.rpm:
    source: https://n2n2-keys.s3.amazonaws.com/nginx/nginx-plus-module-njs-23-0.5.0-1.amzn2.ngx.x86_64.rpm
  
  /tmp/nginx-plus-module-njs-23-0.5.0-1.amzn2.ngx.x86_64.rpm.md5:
    source: https://n2n2-keys.s3.amazonaws.com/nginx/nginx-plus-module-njs-23-0.5.0-1.amzn2.ngx.x86_64.rpm.md5

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: n2n2-keys