files:
  /tmp/nginx-plus-module-njs-21-0.3.8-1.amzn2.ngx.x86_64.rpm:
    source: https://n2n2-keys.s3.amazonaws.com/nginx-plus-module-njs-21-0.3.8-1.amzn2.ngx.x86_64.rpm
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: n2n2-keys